* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0074a1;
    --secondary-color: #726f6f;
    --tertiary-color: #b9b3b3;
    --font-color: #ece3e3;
    --background-color: #161515;
}

body {
    background-color: var(--background-color);
}

#list_links {
    display: none;
}

header {
    padding: 0 13rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 250px;
    height: 55px;
}

.list_links {
    display: none;
}

.divisor {
    width: 100%;
    height: 2px;
    background-color: #413f3f;
    box-shadow: 0 2px 6px var(--primary-color);
}

header h2 {
    font-size: 20px;
    color: var(--font-color);
    font-weight: 400;

}

span {
    color: var(--primary-color)
}

.menu .links {
    display: flex;
    gap: 30px;
}


.links li {
    text-decoration: none;
    color: var(--font-color);
    font-size: 15px;
    padding: 10px 15px;
    display: block;
}


.active {
    color: var(--primary-color);
}

section {
    display: flex;
    padding-left: 13rem;
    margin-top: 9rem;
    gap: 150px;
}

article {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;
}

.about_me {
    width: 352px;
}

.about_me h1 {
    white-space: normal;
    word-wrap: break-word;
    font-size: 40px;
}

article h1 {
    color: var(--font-color);
}

article p:first-child,
article p:nth-child(3) {
    color: var(--tertiary-color);
}

article p {
    color: var(--font-color);
}

img {
    width: auto;
    height: 230px;
    border-radius: 50%;
    border: 2px solid #2dbbf330;
}


.img-wrapper {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 2px solid #2dbbf330;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.show_more {
    display: flex;
    gap: 25px;
    margin-top: 15px;
}

.show_more button {
    border-style: none;
    width: 90px;
    height: 40px;
    border-radius: 7px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    cursor: pointer;

}

.show_more button:hover {
    color: var(--background-color);
    background-color: var(--primary-color);
}


.show_more button p {
    color: var(--font-color);
    font-size: 15px;
    font-weight: 400;
}


.show_more button:first-child {
    background-color: var(--primary-color);
    font-size: 12px;
}

/* styles */

@media (max-width: 600px) {
    header {
        display: flex;
        align-items: center;
        padding: 22px;
        height: 70px;
        justify-content: space-between;
        gap: 0px;
    }

    #list_links {
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
        gap: 10px;
        flex-direction: column;
        width: 50px;
        z-index: 4;
    }

    #list_links.active .line:nth-child(2) {
        display: none;
    }

    .line {
        background-color: var(--font-color);
        width: 30px;
        height: 2px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    #list_links.active .line:nth-child(1) {
        transform: rotate(45deg) translate(3px, 3px);
    }

    #list_links.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }



    /* MENU MOBILE */
    .menu {
        display: none;
    }

    .menu.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--background-color);
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .links.active {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .menu li {
        color: var(--font-color);
        font-size: 25px;
        padding: 0px;
    }

    .menu li:hover {
        transform: scale(1.15);
    }

    .menu li.active {
        color: var(--primary-color);
    }

    section {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 22px;
        margin-top: 3rem;
        gap: 25px;
        justify-content: center;
        align-items: center;
    }

    article {
        padding: 0px 5px;
        width: 387px;
    }
}

@media (min-width: 700px) and (max-width: 790px) {
    header {
        display: flex;
        align-items: center;
        padding: 0 2rem;
        justify-content: space-between;
    }

    section {
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: center;
        gap: 3rem;
    }
}

@media (min-width: 800px) and (max-width: 900px) {
    header {
        display: flex;
        align-items: center;
        padding: 0 4rem;
        justify-content: space-between;
    }

    section {
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: center;
        gap: 3rem;
    }
}